[project]
	description = testing on git commnads 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/narayana reddy (mandati)
[access "refs/for/refs/*"]
	read = group user/narayana reddy (mandati)
	push = group user/narayana reddy (mandati)
	label-Code-Review = -2..+2 group user/narayana reddy (mandati)
	label-Verified = -1..+1 group user/narayana reddy (mandati)
	rebase = group user/narayana reddy (mandati)
	removeReviewer = group user/narayana reddy (mandati)
	submit = group user/narayana reddy (mandati)
[access "refs/heads/*"]
	read = group user/narayana reddy (mandati)
	create = group user/narayana reddy (mandati)
	push = +force group user/narayana reddy (mandati)
	pushMerge = group user/narayana reddy (mandati)
[access "refs/tags/*"]
	push = group user/narayana reddy (mandati)
	push = +force group user/narayana reddy (mandati)
